body{

background-color:#f2f2f2;

text-align:center;

font-family:Arial;

}

h1{

color:blue;

margin-top:150px;

}

header{
    background-color:#333;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

nav a:hover{
    color:yellow;
}
section{
    padding:60px;
}

#about{
    background-color:white;
}

#about h2{
    color:#333;
    font-size:35px;
}

#about p{
    font-size:20px;
    line-height:35px;
}

#skills{
    background-color:#f4f4f4;
    padding:60px;
}

#skills h2{
    text-align:center;
    color:#333;
    font-size:35px;
}

#skills ul{
    list-style:none;
    padding:0;
}

#skills li{
    background:white;
    margin:15px auto;
    padding:15px;
    width:300px;
    border-radius:8px;
    font-size:20px;
    box-shadow:0 0 5px gray;
}

#projects{
    margin-top:40px;
}


.project-container{
    display:flex;
    justify-content:center;
    gap:20px;
}


.project-card{
    background:white;
    width:250px;
    padding:20px;
    border-radius:10px;
}


.project-card h3{
    color:blue;
}


.project-card p{
    font-size:16px;
}

#contact{

    margin-top:50px;
    background:white;
    padding:20px;
    text-align:center;
}


#contact h2{

    color:blue;
}


#contact a{

    color:black;
    text-decoration:none;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:black;
    padding:15px;
}


nav h2{
    color:white;
}


nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}


nav a{
    color:white;
    text-decoration:none;
}